# Either specify AUTH_TOKEN or (AUTH_USER and AUTH_PASS)
AUTH_TOKEN=
AUTH_USER=
AUTH_PASS=
# This can be an organisation, too.
# This will be the namespace, where forks are searched for
# If not specified, it'll default to AUTH_USER
USER=
